/* nav starts */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 174, 255);
  grid-area: nav;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}
/* nav ends */

main{
grid-area: main;
background-color: white;
}
aside{
    grid-area: aside; 
    background-color:rgb(103, 143, 161);
    list-style: none;
    align-items: center;
    text-align: center;
    color: white;
    
}
body {
    display: grid;
    grid-template-columns: 50%  50%;
grid-template-rows:auto;
grid-template-areas: "nav nav"
                    "main aside"
                    "footer footer";
                    
                
}

.container:hover{
    
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 1.6s ease;
    filter: grayscale(1);
    transition: background-size 1.6s ease; 
}
footer {
  align-items: flex-end;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color:rgb(0, 174, 255);
      color: white;
      text-align: center;
      grid-area:footer;
  }
